{% extends 'base.html'%}
{% block content %}
    <h1>О нас</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac laoreet tellus. Etiam eget molestie
        lacus. Phasellus sed turpis turpis. Nam lectus justo, placerat eget enim at, vehicula varius sapien.
        Integer sed urna dignissim, gravida lorem ut, lobortis magna. Mauris ullamcorper viverra egestas. Nunc
        tempor eu est non vehicula. Cras convallis lobortis congue. In et quam ut libero imperdiet venenatis
        sit amet sed dui. Phasellus orci risus, porta quis neque non, commodo tempor lacus. Maecenas
        consectetur id elit id pharetra.
    </p>
{% endblock %}
