<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMOSHOP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">DEMOSHOP</a>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#">Главная</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">О нас</a>
                      </li>
                  </ul>
              </div>
        </nav>
        <div class="container-lg">
            <h1>Главная</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac laoreet tellus. Etiam eget molestie
                lacus. Phasellus sed turpis turpis. Nam lectus justo, placerat eget enim at, vehicula varius sapien.
                Integer sed urna dignissim, gravida lorem ut, lobortis magna. Mauris ullamcorper viverra egestas. Nunc
                tempor eu est non vehicula. Cras convallis lobortis congue. In et quam ut libero imperdiet venenatis
                sit amet sed dui. Phasellus orci risus, porta quis neque non, commodo tempor lacus. Maecenas
                consectetur id elit id pharetra.
            </p>
        </div>
    </div>
</body>
</html>