
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">DEMOSHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Категории</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'smartphones' %}">Смартфоны</a>
                        <a class="dropdown-item disabled" href="#">Смартчасы (скоро)</a>
                        <a class="dropdown-item disabled" href="#">Наушники (скоро)</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> -->
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'profile' user.id%}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" role="button">
                          Выйти
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Войти
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Оплата и доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
            </ul>
            <div class="float-end">
                <a class="btn btn-secondary" href="{% url 'cart_summary' %}">
                    Корзина <span class="badge-dark" id="cart_count">0</span>
                </a>
            </div>
        </div>
    </div>
</nav>