{% extends 'base.html' %}

{% block content %}

<h1>{{search}}</h1>
<div class="row row-cols-3">
    {% for res in results %}
        <div class="col-sm-3">
            <div class="card h-100">
                 <img class="card-img-top" src="{{res.image.url}}" height="320px"/>

                <div class="card-body">
                    <p class="card-text">
                        <h5>{{res}}</h5>
                        <br>
                        <b>{{res.price}}</b>
                    </p>
                </div>
                <a class="btn btn-primary" href="{% url 'product' res.id %}">
                    Купить
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}