{% extends 'base.html' %}

{% block content %}

<h1>{{search}}</h1>
<div class="row row-cols-3">
    {% for res in results %}
        <div class="col-sm-3">
            <div class="card h-100">
                <img class="card-img-top" src="{{res.image.url}}"/>
                <div class="card-body">
                    <p class="card-text">
                        {{res}}
                        <br>
                        {{res.price}}
                    </p>
                </div>
                <button class="btn btn-primary">
                    В корзину
                </button>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}