{% extends 'base.html' %}
{% load static %}
{%block content%}
<div class="container">
    <div class="row">
        <h1>Корзина</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            {%if products is None%}
                <div class="mb-3">
                    <p>Пусто</p>
                </div>
            {%else%}
            <div class="mb-3">
                    {%for p in products%}
                        <div class="row g-3 mb-3">
                            <div class="col-md-4">
                                <img src="{{p.image.url}}" class="img-fluid rounded-start" width="150px" height="150px">
                            </div>
                            <div class="col-md-5">
                                <h5 class="card-title"><a href="{% url 'product' p.id %}">{{p}}</a></h5>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                <h5>Общая стоимость</h5>
                <p>
                    <strong>
                        {{total_price}} руб.
                    </strong>
                </p>
                <form action="{%url 'cart_summary'%}" method="GET">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-primary">Оплатить</button>
                    <button type="button"
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#resetCartModal">
                        Очистить корзину
                    </button>
                </form>

                <div class="modal fade" id="resetCartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Очистить корзину</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите очистить корзину?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <form action="{% url 'cart_reset'%}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" class="btn btn-primary">Очистить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%endblock%}